<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ZeroEditorRedux.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <userSettings>
    <ZeroEditorRedux.Properties.Settings>
      <setting name="SWBF2_MODTOOLS" serializeAs="String">
        <value>C:\BF2_ModTools\</value>
      </setting>
      <setting name="SWBF2_DIRECTORY" serializeAs="String">
        <value>C:\Program Files (x86)\Steam\steamapps\common\Star Wars Battlefront II</value>
      </setting>
    </ZeroEditorRedux.Properties.Settings>
  </userSettings>
</configuration>